.description {
  margin-top: 0.5rem;
  color: var(--text-secondary, #555);
}
.formRow label {
  display: block;
  margin-bottom: 0.25rem;
}
.formRow textarea {
  width: 100%;
  max-width: 32rem;
  box-sizing: border-box;
}
.narrative p {
  margin: 0;
}
.about-user-bullets {
  margin: 0.5rem 0 0 0;
  padding-left: 1.5rem;
}
.about-user-bullets li {
  margin-bottom: 0.5rem;
}
